@using Beat2Book.Models;
@using Beat2Book.Data.Enum;

@using Beat2Book.ViewModels
@using Beat2Book.homeViewModels;
@model CreateBandViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 

<form method="post" asp-action="Create" enctype="multipart/form-data"> 
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId"/>
    <div class="form-group">
        <label asp-for="Title">Band Name</label>
        <input asp-for="Title" class="form-control form-control-lg" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span> 
    </div> 

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control form-control-lg" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>  

    <div class="col">
        @* <label asp-for="ClubCategory">Music genre</label> *@
        <select asp-for="ClubCategory" asp-items="@(Html.GetEnumSelectList<BandCategory>())" class=" form-control form-control-lg">
            <option>--Select--</option> 
        </select>
        <span asp-validation-for="ClubCategory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street">Albums</label>
        <input asp-for="Address.Street" class="form-control form-control-lg" placeholder="Albums">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.City">Country</label>
        <input asp-for="Address.City" class="form-control form-control-lg" placeholder="City">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.State">Social Media Accounts</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i id="socialMediaIcon" class="fab fa-fw"></i>
                </span>
            </div>
            <input id="socialMediaInput" asp-for="Address.State" class="form-control form-control-lg" placeholder="Social Media Accounts" oninput="updateSocialMediaIcon()">
        </div>
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <script>
        function updateSocialMediaIcon() {
            var inputElement = document.getElementById('socialMediaInput');
            var iconElement = document.getElementById('socialMediaIcon');

            // Extract the social media platform from the input
            var inputValue = inputElement.value.toLowerCase();

            if (inputValue.includes('instagram')) {
                iconElement.className = 'fab fa-instagram';
            } else if (inputValue.includes('facebook')) {
                iconElement.className = 'fab fa-facebook';
            } else if (inputValue.includes('tiktok')) {
                iconElement.className = 'fab fa-tiktok';
            } else {
                // Default icon or handle other platforms
                iconElement.className = 'fas fa-globe';
            }
        }
    </script>
  @*   <div class="form-group">
        <label asp-for="Address.State">ZipCode</label>
        <input asp-for="Address.State" class="form-control" placeholder="Street">
        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> 
